.header{
    background-image: url(../../svg/showcase.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    // height: 100%;
    height: 618px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 30px;
}

.links li a{
font-size: 14px;
font-weight: 600;
line-height: 14.66px;
transition: 0.3s linear;
color: $f;
}
.links li a:hover{
color: $zerothree;
}
.navbar_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.navbar_inside1 a{
font-size: 20px;
font-weight: 600;
line-height: 20.94px;
letter-spacing: 0.02em;
color: $f;
}

.navbar_btn{
font-size: 14px;
font-weight: 600;
line-height: 14.66px;
letter-spacing: 0.02em;
color: $f;
width: 177px;
height: 40px;
border-radius: 9px;
background-color: #A19F9F;
border: none;
outline: none;
transition: 0.3s linear;
}

.navbar_btn:hover{
color: $f;
background-color: $zerothree;
}

.navbar_inside1{
    display: flex;
    gap: 15px;
    align-items: center;
}

.sheckbox{
    display: none;
}

@media(max-width:1000px){
    .links{
        top: 0;
        left: -100%;
        position: fixed;
        width: 50%;
        background-color: $zerothree;
        // background-color: transparent;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.5s linear;
        z-index: 999;
    }

    .links li a:hover{
color: yellowgreen;
}
    #check:checked ~ .links{
        left: 0;
    }


}

@media(max-width:500px){
    .navbar_items{
        display: none;
    }
}

@media(min-width:1000px){
    .div_for_menu{
        display: none;
    }
}