@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid blue;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../../svg/showcase.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 900px;
  padding: 0 0 50px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 30px;
}

.links li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.66px;
  transition: 0.3s linear;
  color: #FFFFFF;
}

.links li a:hover {
  color: #037E8C;
}

.navbar_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.navbar_inside1 a {
  font-size: 20px;
  font-weight: 600;
  line-height: 20.94px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: 0.2s linear;
}

.navbar_inside1 a:hover {
  color: #037E8C;
}

.navbar_btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.66px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  width: 177px;
  height: 40px;
  border-radius: 9px;
  background-color: #A19F9F;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.navbar_btn:hover {
  color: #FFFFFF;
  background-color: #037E8C;
}

.navbar_inside1 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sheckbox {
  display: none;
}

@media (max-width: 1000px) {
  .links {
    top: 0;
    left: -100%;
    position: fixed;
    width: 50%;
    background-color: #037E8C;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s linear;
    z-index: 999;
  }
  .links li a:hover {
    color: yellowgreen;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
@media (max-width: 500px) {
  .navbar_items {
    display: none;
  }
}
@media (min-width: 1000px) {
  .div_for_menu {
    display: none;
  }
}
.showcase h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 87.85px;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  width: 60%;
}

.showcase p {
  font-size: 24px;
  font-weight: 500;
  line-height: 26.09px;
  color: #FFFFFF;
}

.showcase_btn {
  width: 274px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.39px;
  color: #FFFFFF;
  background-color: #037E8C;
  border-radius: 9px;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.showcase_btn:hover {
  color: #037E8C;
  background-color: #FFFFFF;
  border: 1px solid #037E8C;
}

.showcase {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 700px) {
  .showcase h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 87.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .showcase h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 77.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .showcase h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 67.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .showcase h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 57.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
.tehno {
  margin-top: 50px;
  margin-bottom: 50px;
}

.t_divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.t_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: left;
}

.t_div h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 19.57px;
  color: #121214;
}

.t_div h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20.8px;
  color: #121214;
}

@media (max-width: 1000px) {
  .t_divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}
.our_title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46.8px;
  text-align: center;
  color: #121214;
}

.our {
  margin-bottom: 30px;
}

.our_title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2_h4 h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 39.13px;
  text-align: left;
  color: #121214;
}

.h2_h4 h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.09px;
  text-align: left;
  color: #121214;
}

.small_div h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.39px;
  text-align: left;
  color: #121214;
}

.small_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.big_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marshut_inside h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #121214;
}

.marshut_inside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.marshut p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #121214;
}

.our_btn1 {
  width: 175px;
  height: 45px;
  border-radius: 9px;
  border: 1.5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: #037E8C;
  border: 1px solid #037E8C;
  transition: 0.3s linear;
}

.our_btn2 {
  width: 175px;
  height: 45px;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: #FFFFFF;
  background-color: #037E8C;
  border: none;
  transition: 0.3s linear;
}

.our_btn1:hover {
  color: #FFFFFF;
  background-color: #037E8C;
  border: 1px solid #037E8C;
}

.our_btn2:hover {
  color: #037E8C;
  background-color: #FFFFFF;
  border: 1px solid #037E8C;
}

.our_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.h2_h4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.marshut {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.two_div {
  display: flex;
  gap: 12px;
}

.our_left_and_right {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
}

.our_right {
  display: flex;
  gap: 15px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.order1 {
  order: 2 !important;
}

.order2 {
  order: 1 !important;
}

@media (max-width: 1020px) {
  .our_left_and_right {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
