@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../../svg/showcase.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 0 0 50px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 30px;
}

.links li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.66px;
  transition: 0.3s linear;
  color: #FFFFFF;
}

.links li a:hover {
  color: #037E8C;
}

.navbar_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.navbar_inside1 a {
  font-size: 20px;
  font-weight: 600;
  line-height: 20.94px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: 0.2s linear;
}

.navbar_inside1 a:hover {
  color: #037E8C;
}

.navbar_btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.66px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  width: 177px;
  height: 40px;
  border-radius: 9px;
  background-color: #A19F9F;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.navbar_btn:hover {
  color: #FFFFFF;
  background-color: #037E8C;
}

.navbar_inside1 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sheckbox {
  display: none;
}

@media (max-width: 1000px) {
  .links {
    top: 0;
    left: -100%;
    position: fixed;
    width: 50%;
    background-color: #037E8C;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s linear;
    z-index: 999;
  }
  .links li a:hover {
    color: yellowgreen;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
@media (max-width: 500px) {
  .navbar_items {
    display: none;
  }
}
@media (min-width: 1000px) {
  .div_for_menu {
    display: none;
  }
}
.showcase h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 87.85px;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  width: 60%;
}

.showcase p {
  font-size: 24px;
  font-weight: 500;
  line-height: 26.09px;
  color: #FFFFFF;
}

.showcase_btn {
  width: 274px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.39px;
  color: #FFFFFF;
  background-color: #037E8C;
  border-radius: 9px;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.showcase_btn:hover {
  color: #037E8C;
  background-color: #FFFFFF;
  border: 1px solid #037E8C;
}

.showcase {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 700px) {
  .showcase h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 87.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .showcase h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 77.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .showcase h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 67.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .showcase h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 57.85px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
